@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

@keyframes peel-away-bottom-right {
  0% {
    transform: translate(0, 0) scale(1);
    transform-origin: bottom right;
  }
  100% {
    transform: translate(100%, -100%) scale(0);
    transform-origin: bottom right;
  }
}

.peel-away-bottom-right {
  animation: peel-away-bottom-right 1s forwards;
}

.elden-link:hover {
  -webkit-animation: elden-link 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: elden-link 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.pop-out-hard-shadow:hover {
  -webkit-animation: pop-out-hard-shadow 0.3s
    cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: pop-out-hard-shadow 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes elden-link {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2);
  }
}
@keyframes elden-link {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2);
  }
}

@property --background-shadow-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #353642;
}

@-webkit-keyframes pop-out-hard-shadow {
  0% {
    -webkit-box-shadow: 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color);
    box-shadow: 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color);
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px var(--background-shadow-color),
      2px -2px var(--background-shadow-color),
      3px -3px var(--background-shadow-color),
      4px -4px var(--background-shadow-color),
      5px -5px var(--background-shadow-color),
      6px -6px var(--background-shadow-color),
      7px -7px var(--background-shadow-color),
      8px -8px var(--background-shadow-color);
    box-shadow: 1px -1px var(--background-shadow-color),
      2px -2px var(--background-shadow-color),
      3px -3px var(--background-shadow-color),
      4px -4px var(--background-shadow-color),
      5px -5px var(--background-shadow-color),
      6px -6px var(--background-shadow-color),
      7px -7px var(--background-shadow-color),
      8px -8px var(--background-shadow-color);
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes pop-out-hard-shadow {
  0% {
    -webkit-box-shadow: 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color);
    box-shadow: 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color), 0 0 var(--background-shadow-color),
      0 0 var(--background-shadow-color);
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px var(--background-shadow-color),
      2px -2px var(--background-shadow-color),
      3px -3px var(--background-shadow-color),
      4px -4px var(--background-shadow-color),
      5px -5px var(--background-shadow-color),
      6px -6px var(--background-shadow-color),
      7px -7px var(--background-shadow-color),
      8px -8px var(--background-shadow-color);
    box-shadow: 1px -1px var(--background-shadow-color),
      2px -2px var(--background-shadow-color),
      3px -3px var(--background-shadow-color),
      4px -4px var(--background-shadow-color),
      5px -5px var(--background-shadow-color),
      6px -6px var(--background-shadow-color),
      7px -7px var(--background-shadow-color),
      8px -8px var(--background-shadow-color);
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

.video-player {
  max-width: 1280px;
  max-height: 720px;
  @media (max-width: 2320px) {
    max-width: 1024px;
    max-height: 576px;
  }
  @media (max-width: 2060px) {
    max-width: 800px;
    max-height: 450px;
  }
  @media (max-width: 1120px) {
    max-width: 600px;
    max-height: 450px;
  }
  @media (max-width: 800px) {
    max-width: 500px;
    max-height: 450px;
  }
  @media (max-width: 910px) {
    max-width: 450px;
    max-height: 450px;
  }
}
